* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-sixe {
    font-size: 13px;
    font-weight: 500;
}

.logo-img {
    height: 120px;
    width: 150px;
}

.font-weight {
    font-size: 17px;
    font-weight: 700;
}

.main-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#Section-1-container {
    position: relative;
}

.text-cont {
    position: absolute;
    top: 14%;
    padding: 5rem;
    color: aliceblue;
}

.text-cont h1 {
    font-size: 3.5rem;
}

.text-cont p {
    font-size: 1.085rem;
}

.text-cont button {
    height: 50px;
    width: 25%;
    border-radius: 100px;
    border: none;
}

/*  */
.sec-2-pera {
    font-size: 33px;
    margin-left: 20rem;
}

.sec-pera-2 {
    margin-left: 35rem;
    font-size: 33px;
    line-height: 2px;
}

/* responsive */
/* @media screen and (max-width:992px) {
    .text-cont {
        position: absolute;
        top: 10%;
        padding: 2rem;
        color: aliceblue;
    }
} */

#section-3 {
    margin-top: 5rem;
    display: flex;
}

.card-1 {
    height: 500px;
    width: 400px;
    /* border: 2px solid black; */
    text-align: center;
}

.card-1-img {
    height: 250px;
    width: 350px;
}

.card-pera {
    font-weight: 700;
    font-size: 1.2rem;
}

.dynamic-clas {
    font-size: 1.2rem;
    color: #176EB7;
    cursor: pointer;
}

/* .dynamic-clas:hover{
    width: 10%;
    border-bottom: 2px solid black;
    color: red;
} */

#section-4 {
    margin-top: 4.85rem;
}

.card-2-img {
    height: 55vh;
    width: 45vw;
}

.right {
    margin-left: 2rem;
}

.card-2-pera {
    font-weight: 600;
}

.card-2-butn {
    height: 4rem;
    width: 14rem;
    background-color: white;
    border-radius: 2rem;
    font-size: 1.2rem;
    color: #176EB7;
    border: 1px solid #176EB7;
}

#section-5 {
    margin-top: 8rem;
}

.card-3-img {
    height: 50vh;
    width: 35vw;
    margin-left: 8rem;
}

#section-6 {
    margin-top: 8rem;
}

.cla {
    text-align: center;
    margin-top: 5rem;
}

.iframe-img {
    margin-top: 2rem;
    height: 80vh;
    width: 80%;
}

#footer-section {
    margin-top: 5rem;
    display: flex;
}

.footer-wrapper {
    height: 500px;
    width: 400px;
    /* border: 2px solid black; */
    /* text-align: center; */
}

.Funt {
    font-size: 3rem;
    line-height: 7.4rem;
    font-weight: 400;
}

.Funt-new {
    font-size: 3rem;
    line-height: 7.4rem;
    font-weight: 400;
    visibility: hidden;
}

.container-Wrapper {
    height: 300px;
    width: 100%;
    background-color: #F4F5F6;
    /* gap: 2rem; */
}

.iocns {
    /* display: flex;
    justify-content:end; */
    font-size: 1.5rem;
    margin-left: 18rem;
    color: grey;
}

.footer-sec-2 {
    margin-top: 4rem;
    font-size: .85rem;
}

.developer {
    font-family: 'Times New Roman', Times, serif;
}